**LIST**

In [2]:
 list1=[]
list2=[1,2]
list3=['a',1,'#']
list4=list()
list4=[1,2,3,4]

In [3]:
 print(list1, '\n', list2, '\n', list3, '\n', list4, '\n')

[]
 [1, 2]
 ['a', 1, '#']
 [1, 2, 3, 4]

Exercise 1

In [4]:
 # Exercise 1:
# create and print a list whose elements are vowels and call this list my_list
my_list=['a','e','i','o','u']
print(my_list)

['a', 'e', 'i', 'o', 'u']

In [5]:
#accessing item in a list
#list_name[index]
#list_name[start_index:end_index] #also called slicing
print(list4[1], '\n',
list4[1:3], '\n',
list4[:3], '\n',
list4[1:], '\n',
list4[-1])

2
 [2, 3]
 [1, 2, 3]
 [2, 3, 4]
 4

In [6]:
#append(insert at end)
#list_name.append(item)
list4.append('alpha')
list4

[1, 2, 3, 4, 'alpha']

Exercise 2

In [13]:
# add a number 2020 in the end of list my_list
my_list.insert(len(my_list),2020)
my_list

['a', 'e', 'i', 'o', 'u', '2020', '2020', '2020', '2020', '2020', 2020]

In [14]:
#extend (insert multiple items simultaneously)
#list_name.extend([list of items])
list4.extend(['new_element1','new_element2', 'new_element3'])
list4

[1, 2, 3, 4, 'alpha', 'new_element1', 'new_element2', 'new_element3']

In [15]:
#insert at position
#list_name.insert(position, value)
list4.insert(2,'beta')
list4

[1, 2, 'beta', 3, 4, 'alpha', 'new_element1', 'new_element2', 'new_element3']

Exercise 3

In [19]:
# Replace 2020 by 2021 in my_list
my_list[5]

'2020'

In [20]:
my_list[5]=2021
my_list

['a', 'e', 'i', 'o', 'u', 2021, '2020', '2020', '2020', '2020', 2020]

In [21]:
#delete
#list_name.pop(index)
#del list_name([start_index: end_index])
#list_name.remove(item)
list1=[1,5,8,7]
list2=[1,2,'beta', 5, 'alpha', 'beta']
list3=['a',1,'#']
print('Before delete operation')
print(list1, '\n', list2, '\n', list3, '\n')
list1.pop(1)
list2.remove('beta') #removes the first occurrence of item
del list3[-1]
print('After delete operation')
print(list1, '\n', list2, '\n', list3, '\n')

Before delete operation
[1, 5, 8, 7]
 [1, 2, 'beta', 5, 'alpha', 'beta']
 ['a', 1, '#']

After delete operation
[1, 8, 7]
 [1, 2, 5, 'alpha', 'beta']
 ['a', 1]

In [22]:
#reverse
#list_name.reverse()
print('Before reverse')
print(list1)
print('\nAfter reverse')
list1.reverse()
print(list1)

Before reverse
[1, 8, 7]

After reverse
[7, 8, 1]

In [23]:
#sort
#list_name.sort()
print('Before sorting')
print(list1)
print('\nAfter sorting')
list1.sort()
print(list1)

Before sorting
[7, 8, 1]

After sorting
[1, 7, 8]

In [24]:
# length of list
# len(list_name)
list4 = [3,6,2,8]
len(list4)

4

In [25]:
# range(start_index, end_index,increment)
# last index in range will less than end_index
# default start index is zero
print(range(5))
print(range(3,7))
print(range(3,9,2))

range(0, 5)
range(3, 7)
range(3, 9, 2)

In [27]:
# forward traversal
# range(start_index, end_index)
for i in range(len(list4)):
   print(list4[i])

3
6
2
8

In [29]:
# backward traversal
# range(start_index, end_index, increment)
for i in range(len(list4)-1,-1,-1):
    print(list4[i])

8
2
6
3

**2. STRING**

In [30]:
s1='string1'
s2="string2"
s3='''string
3, in multiple
lines'''
print(s1, '\n' ,s2, '\n')
print(s3)

string1
 string2

string
3, in multiple
lines

In [31]:
# + operator is used for concatenation
str_concat= s1+s2
str_concat

'string1string2'

In [32]:
# multiple string concatenation
str_concat=s1+' '+s2
str_concat

'string1 string2'

**CASE FOLDING**

In [33]:
# convert to lower case
str_concat.lower()

'string1 string2'

In [34]:
# convert to upper case
str_concat.upper()

'STRING1 STRING2'

**Split & Join**

In [35]:
# split a string
# string_name.split(delimeter)
# return type: List
str_concat.split(' ')

['string1', 'string2']

In [36]:
str_concat.split(' ')[0]

'string1'

In [38]:
str_concat.split(' ')[1]

'string2'

Exercise 4

In [39]:
# Split the string given below
string ='Apple iPhone SE (Black, 64 GB)'
print(string)

Apple iPhone SE (Black, 64 GB)

In [41]:
string.split(' ')

['Apple', 'iPhone', 'SE', '(Black,', '64', 'GB)']

In [42]:
# Join the strings
string = 'Rs 1,00,00'
string = ''.join(string.split(','))
print(string)

Rs 10000

**Strip the string**

In [43]:
# strip a string
# string_name.strip(delimeter)
# return type: string
string = ' xoxo love xoxo '
# Leading and trailing whitespaces are removed
print(string.strip())
# All <whitespace>,x,o,e characters in the left and right of string are removed
print(string.strip(' xoe'))
# Argument doesn't contain space
# No characters are removed.
print(string.strip('stx'))
string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
 xoxo love xoxo
droid is awesome

In [44]:
# length of string
# len(string_name)
str = "India"
len(str)

5

In [46]:
# string traversal
# range(start_index, end_index)
for i in range(len(str)):
    print(str[i])

I
n
d
i
a

Exercise 5

In [47]:
# Do Backward Travesal in the string given below
str1 = 'CATERT'
print(str1)

CATERT

In [48]:
for i in range(len(str1)-1,-1,-1):
    print(str1[i])

T
R
E
T
A
C

**3. REGULAR EXPRESSION**

In [50]:
import re

In [51]:
text='''In the early days, many language-processing systems were designed by␣
,→handcoding a set of rules,[9],[10] e.g. by writing grammars or devising␣
,→heuristic
rules for stemming. However, this is rarely robust to natural language␣
,→variation.
Since the so-called "statistical revolution"[11][12] in the late 1980s␣
,→and mid
1990s, much natural language processing research has relied heavily on␣
,→machine
learning.The machine-learning paradigm calls instead for using␣
,→statistical inference
to automatically learn such rules through the analysis of large corpora␣
,→of typical
real-world examples (a corpus (plural, "corpora") is a set of␣
,→documents, possibly
with human or computer annotations).'''

**RegEx Functions**

In [52]:
# findall
# search and returns all the matches in the string
re.findall("language", text)

['language', 'language', 'language']

In [53]:
 # search
# search and return the location of first occurence
# in the string
x=re.search("the", text)
x.start()

3

In [54]:
# substitute
# replace the text
print('Occurence of "In" in the text before replace:',re.findall("In", text))
new_text=re.sub('In','alpha',text)
print('Occurence of "In" in the text after replace:',re.findall("In", new_text))

Occurence of "In" in the text before replace: ['In']
Occurence of "In" in the text after replace: []

Exercise 6

In [73]:
# Replace comma(,) by the ( | ) in the string
str = 'Apple iPhone SE (Black, 64 GB)'
str.replace(",", "/")

'Apple iPhone SE (Black/ 64 GB)'

**Spell Checker**

In [76]:
from spellchecker import SpellChecker
spell = SpellChecker()
# find those words that may be misspelled
misspelled = spell.unknown(['let', 'us', 'wlak','on','the','groun'])
for word in misspelled:
    
# Get the one `most likely` answer
    print(spell.correction(word))
# Get a list of `likely` options
    print(spell.candidates(word))

group
{'group', 'groin', 'ground', 'grout', 'groan', 'grown'}
walk
{'flak', 'walk', 'weak'}